<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="sonar-iframe">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
            }

            #iframe {
                border: none;
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
            }
        </style>

        <iframe id="iframe" srcdoc="[[srcdoc]]" scrollbars="no"></iframe>
    </template>

    <script>
        /**
         * `sonar-iframe`
         * This component wraps the native iframe element and offers convenience methods
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class SonarIframe extends Polymer.Element {

            static get is() {
                return 'sonar-iframe';
            }

            static get properties() {
                return {
                    /**
                     * The source of the framed page.
                     *
                     * For security purposes, this URL needs to exactly match the URL which will
                     * returned by the server. E.g., if the server will return a trailing slash,
                     * this URL should include a trailing slash to exactly match it.
                     *
                     * @attribute src
                     */
                    src: {
                        observer: '_srcChanged',
                        type: String
                    },

                    /**
                     * The HTML content to show in the iframe. Must be valid HTML syntax
                     *
                     * @attribute srcdoc
                     */
                    srcdoc: {
                        value: "",
                        type: String
                    },

                    contentWindow: {
                        value: null,
                        type: Object
                    },

                    loading: {
                        type: Boolean,
                        value: false,
                        notify: true,
                        readOnly: true
                    },

                    _frameOrigin: {
                        value: null,
                        type: String
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();

                // Raise our own load event when the frame loads.
                const onLoad = this._onIFrameLoaded.bind(this);
                const onMessage = this._onPostMessage.bind(this);

                this.$.iframe.addEventListener('load', onLoad);
                window.addEventListener('message', onMessage);
            }

            /**
             * Reload the content of the frame.
             *
             * @method reload
             */
            reload() {
                this.contentWindow.location.reload()
            }

            postMessage(message, detail) {
                if (!this._frameOrigin || !this.$.iframe.contentWindow) {
                    return;
                }

                const payload = {
                    message: message
                };

                if (detail != null) {
                    payload.detail = detail;
                }

                this.$.iframe.contentWindow
                    .postMessage(payload, this._frameOrigin);
            }

            _srcChanged(src) {
                this._setLoading(true);

                /* use http://stevesouders.com/efws/iframe-onload-nonblocking.php to
                 * to avoid blocking the main window */
                const setSrc = () => { this.$.iframe.src = src };
                const boundHandler = setSrc.bind(this);

                setTimeout(boundHandler);
            }

            _onPostMessage(event) {
                // For security reasons
                if (event.origin !== this._frameOrigin) {
                    return;
                }

                const postMessageEvent = new CustomEvent("post-message", {
                    detail: { message: event.data }
                });

                this.dispatchEvent(postMessageEvent);
            }

            _onIFrameLoaded() {
                this.contentWindow = this.$.iframe.contentWindow;
                this._frameOrigin = this._getFrameOrigin();
                this._setLoading(false);

                this.dispatchEvent(new CustomEvent("load"));
            }

            _getFrameOrigin() {
                let origin = "";

                if (this.src) {
                    // Extract the origin from the src using an anchor tag as a parser.
                    const a = document.createElement('a');
                    a.href = src;

                    origin = a.origin;

                    if (origin === undefined) {
                        /* IE 10/11 links don't expose an origin property. Get it ourselves. */
                        const originRegex = /(.*\/\/[^\/]+)\//; /* Everything up to first slash in path. */
                        const match = originRegex.exec(a.href);

                        if (match) {
                            origin = match[1];
                        }
                    }
                } else if (this.srcdoc) {
                    // use document origin if srcdoc is set
                    origin = document.defaultView.location.origin;
                }

                return origin;
            }
        }

        window.customElements.define(SonarIframe.is, SonarIframe);
    </script>
</dom-module>
